<h1><center>Лабораторна робота 1.</center></h1>
<h2><center>Аналіз доходу населення за набором даних Adult Data Set</center></h2>

**Виконав:** Прізвище І.П.

**Варіант:** №__

<a class="anchor" id="1"></a>

## Зміст

1. [Завантаження і знайомство з даними](#1.1)
2. [Завдання](#1.2)

<a class="anchor" id="1.1"></a>

## 1.1. Завантаження і знайомство з даними

[Повернутися до змісту](#1)

У лабораторній роботі пропонується за допомогою Pandas відповісти на кілька запитань за набором даних [Adult](https://archive.ics.uci.edu/ml/datasets/adult) сховища UCI.

Унікальні значення ознак набору даниз Adult Data Set (більше інформації в описі [Adult](https://archive.ics.uci.edu/ml/datasets/adult)):

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

Завантажимо `Pandas` та переглянемо вміст набору даних.

In [1]:
import pandas as pd

In [2]:
adult_data_url = 'https://raw.githubusercontent.com/radiukpavlo/applied-math-packages/main/02_assignments/app_lab-01_adult_pandas/adult.data.csv'

data = pd.read_csv(adult_data_url)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

-----
<a class="anchor" id="1.2"></a>

## 1.2. Завдання

[Повернутися до змісту](#1)

Варіанти завдань відповідають списку студентв групі. Дайте відповіді на запитання з використанням бібліотеки `Pandas`.

<span style="color:red; font-size:2em;">Завдання 1</span>

Для варіантів 1-10:

**Яку кількість чоловіків (ознака *sex*) подано в наборі даних UCI Adult Data Set?**

Для варіантів 11-20:

**Яку кількість жінок (ознака *sex*) подано в наборі даних UCI Adult Data Set?**

In [3]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 2</span>

Для варіантів 1-10:

**Який середній вік (ознака *age*) жінок?**

Для варіантів 11-20:

**Який середній вік (ознака *age*) чоловіків?**

In [4]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 3</span>

Для варіантів 1-5:

**Яка частка громадян Німеччини (у %, ознака *native-country*) в наборі даних?**

Для варіантів 6-10:

**Яка частка громадян Мексики (у %, ознака *native-country*) в наборі даних?**

Для варіантів 11-15:

**Яка частка громадян США (у %, ознака *native-country*) в наборі даних?**

Для варіантів 16-20:

**Яка частка громадян Ірану (у %, ознака *native-country*) в наборі даних?**

In [5]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 4</span>


Для варіантів 1-10:

**Які середні значення і середньоквадратичні відхилення віку тих, хто отримує зарплату не більше 50K на рік (ознака *salary*)?**

Для варіантів 11-20:

**Які середні значення і середньоквадратичні відхилення віку тих, хто отримує зарплату більше 50K на рік (ознака *salary*)?**

In [6]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 5</span>

Для варіантів 1-5:

**Яка частка людей, що подані в наборі даних, має вік <20 років?**

Для варіантів 6-10:

**Яка частка людей, що подані в наборі даних, має вік в діапазоні [20; 30) років?**

Для варіантів 11-15:

**Яка частка людей, що подані в наборі даних, має вік в діапазоні [30; 50) років?**

Для варіантів 16-20:

**Яка частка людей, що подані в наборі даних, має вік >=50 років?**

In [7]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 6</span>

Для варіантів 1-5:

**Скільки людей, що отримують >50K, мають вищу освіту?**

Для варіантів 6-10:

**Скільки людей, що отримують >50K, не мають вищу освіту?**

Для варіантів 11-15:

**Скільки людей, що отримують <=50K, мають вищу освіту?**

Для варіантів 16-20:

**Скільки людей, що отримують <=50K, не мають вищу освіту?**

**Примітка:** вища освіта відповідає значенням ознаки *education* - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters або Doctorate)

In [8]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 7</span>

**Виведіть статистику віку для кожної раси (ознака *race*) та кожної статі (ознака *sex*). Використовуйте `groupby` і `describe`.**

Для варіантів 1-5:

**Знайдіть у такий спосіб максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

Для варіантів 6-10:

**Знайдіть у такий спосіб максимальний вік жінок раси *Asian-Pac-Islander*.**

Для варіантів 11-15:

**Знайдіть у такий спосіб максимальний вік чоловіків раси *Black*.**

Для варіантів 16-20:

**Знайдіть у такий спосіб максимальний вік жінок раси *White*.**

In [9]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 8</span>

Для варіантів 1-5:

**Хто заробляє більше (>50K): одружені чи неодружені чоловіки (ознака *marital-status*)?**

Для варіантів 6-10:

**Люди з якою освітою заробляють більше (>50K) (ознака *education*)?**

Для варіантів 11-15:

**Представники якої професії заробляють більше (>50K) (ознака *occupation*)?**

Для варіантів 16-20:

**Пердставники якого робітничого класу заробляють більше (>50K) (ознака *workclass*)?**

***Примітка:*** одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent або Married-AF-spouse), інших вважаємо холостими.

In [10]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 9</span>

***Для всіх варіантів*: обрахуйте мінімальну та максимальну кількість робочих годин (ознака *hours-per-week*).**

Для варіантів 1-5:

**Скільки людей працюють максимальну кількість годин і який поміж них відсоток заробляє багато (>50K)?**

Для варіантів 6-10:

**Скільки людей працюють максимальну кількість годин і який поміж них відсоток заробляє мало (<=50K)?**

Для варіантів 11-15:

**Скільки людей працюють мінімальну кількість годин і який поміж них відсоток заробляє багато (>50K)?**

Для варіантів 16-20:

**Скільки людей працюють мінімальну кількість годин і який поміж них відсоток заробляє мало (<=50K)?**

In [11]:
# Ваш код тут

<span style="color:red; font-size:2em;">Завдання 10</span>

Для варіантів 1-5:

**Обрахуйте середній час роботи (*hours-per-week*) тих людей, хто заробляє мало і багато (*salary*) для кожної країни (*native-country*).**

Для варіантів 6-10:

**Обрахуйте середній час роботи (*hours-per-week*) тих людей, хто заробляє мало і багато (*salary*) для кожної раси (*race*).**

Для варіантів 11-15:

**Обрахуйте середній час роботи (*hours-per-week*) тих людей, хто заробляє мало і багато (*salary*) для обох статей (*sex*).**

Для варіантів 16-20:

**Обрахуйте середній час роботи (*hours-per-week*) тих людей, хто заробляє мало і багато (*salary*) для кожної робочої позиції (*occupation*).**

In [12]:
# Ваш код тут